<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>StudentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>SubjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Achievements</servlet-name>
        <servlet-class>Achievements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/StudentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/SubjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Achievements</servlet-name>
        <url-pattern>/Achievements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.html
        </welcome-file>
    </welcome-file-list>
</web-app>
